---
import "../styles/index.css"
import Logo from "../icons/rencal-logotype.astro"

const title = "renCal"
const description = "A calendar for hackers"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="px-10 py-8">
      <Logo class="h-[25px]" />
    </header>

    <main>
      <h1>{title}</h1>
      <p>{description}</p>
      <a href="/docs/example/">Read the docs</a>
    </main>
  </body>
</html>
