---
import "../styles/index.css"
import Logo from "../icons/rencal-logotype.astro"

const title = "renCal"
const description = "A calendar for hackers"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <header>
      <Logo class="h-[25px]" />
    </header>

    <main>
      <h1>{title}</h1>
      <p>{description}</p>
      <a href="/docs/example/">Read the docs</a>
    </main>
  </body>
</html>
