---
import "../styles/index.css"
import Logo from "../icons/rencal-logotype.astro"

const title = "renCal"
const description = "A calendar for hackers"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="px-10 py-8 flex justify-between items-center">
      <Logo class="h-[25px]" />

      <nav class="uppercase flex gap-7 text-foreground">
        <a href="/docs">Docs</a>
        <a>GitHub</a>
      </nav>
    </header>

    <main>
      <div class="text-center flex flex-col items-center gap-7">
        <h2 class="uppercase text-[40px]">A calendar for hackers</h2>

        <p>Built for Omarchy + Linux</p>

        <div class="flex gap-5">
          <button class="primary">Install</button>
          <button>Docs</button>
        </div>

        <img
          src="/screenshot.png"
          alt="renCal screenshot"
          class="mt-8 max-w-5xl w-full rounded-lg"
        />
      </div>
    </main>
  </body>
</html>
