--background: #1a1b26;
--font-heading: var(--font-sans);
--font-button: var(--font-sans);
--font-numerical: var(--font-sans);

--font-heading-transform: normal;
--font-button-transform: normal;

--border: #40404f;
--border-button: #363643;

--highlight: #ff2f00; /* year */

--tab-gap: 6px;
--tab-list-shadow: none;

--hover-tint: #979bc8;
--hover-mix: 10%;

--radius: 9.6px;
--radius-circle: calc(infinity * 1px);

--primary: #0094c6;
--primary-foreground: white;
