body[data-theme="classic"] {
  --font-heading: var(--sans);
  --font-button: var(--sans);
  --font-numerical: var(--sans);

  --font-heading-transform: normal;
  --font-button-transform: normal;

  --border-button: #363643;

  --radius-base: 0.6rem;
  --radius-circle: calc(infinity * 1px);
}
