--background: #1a1b26;
--font-heading: var(--font-sans);
--font-button: var(--font-sans);
--font-numerical: var(--font-sans);

--text-heading--transform: normal;
--text-button--transform: normal;

--border: #40404f;
--button-border: #363643;

--brand: #ff2f00; /* year */

--tab-gap: 6px;
--tab-list-shadow: none;

--surface-tint: #979bc8;
--surface-tint-step: 10%;

--radius: 9.6px;
--radius-circle: calc(infinity * 1px);

--primary: #0094c6;
--primary-foreground: white;
