/* @name Electric Blue */
--electric-blue: #0000f2;

--background: white;
--foreground: var(--electric-blue);
--muted-foreground: color-mix(in srgb, var(--electric-blue) 90%, transparent);
--primary: var(--electric-blue);
--brand: var(--electric-blue);
--today: var(--electric-blue);
--event-color: var(--electric-blue);
--event-background: var(--electric-blue);
--event-foreground: white;
--hover-tint: var(--electric-blue);
--hover-mix: 6%;
--radius: 0px;
--font-heading: var(--font-mono);
--font-button: var(--font-mono);
--font-numerical: var(--font-mono);
--text-heading--transform: uppercase;
--text-button--transform: uppercase;
--text-numerical--transform: uppercase;
--radius-circle: 0px;
