/* @name Nous */
--nous-brand-color: #0000f2;

--background: white;
--foreground: var(--nous-brand-color);
--muted: color-mix(in srgb, var(--nous-brand-color) 90%, transparent);
--primary: var(--nous-brand-color);
--highlight: var(--nous-brand-color);
--today: var(--nous-brand-color);
--event-color: var(--nous-brand-color);
--event-background: var(--nous-brand-color);
--event-foreground: white;
--hover-tint: var(--nous-brand-color);
--hover-mix: 6%;
--radius-base: 0rem;
--font-heading: var(--mono);
--font-button: var(--mono);
--font-numerical: var(--mono);
--font-heading-transform: uppercase;
--font-button-transform: uppercase;
--font-numerical-transform: uppercase;
--radius-circle: 0px;
