---
import RenLogo from "./RenLogo.astro"
---

<div class="flex justify-between px-8 pb-6">
  <p class="text-sm text-muted opacity-70">
    Built by <a href="https://t4t5.com" class="text-foreground underline" target="_blank">T4T5</a> +
    <a
      href="https://github.com/t4t5/rencal/graphs/contributors"
      class="hover:underline"
      target="_blank">contributors</a
    >
  </p>

  <a href="https://ren.org" target="_blank">
    <RenLogo class="opacity-50" />
  </a>
</div>
