---
import Logo from "../../icons/rencal-logo.astro"
import GitHubLogo from "../../icons/github.astro"
---

<header class="px-6 md:px-10 py-4 flex justify-between items-center gap-7">
  <a href="/">
    <h1 aria-label="renCal" class="relative top-[-2px]">
      <Logo class="h-[51px]" />
      <span class="sr-only">renCal</span>
    </h1>
  </a>

  <nav
    class="flex items-center gap-3 text-xs text-foreground uppercase [&>a:hover]:underline sm:gap-6 sm:text-base"
  >
    <a href="/download">Download</a>
    <a href="/docs/calendar-data">Docs</a>
    <a href="/changelog">Changelog</a>
    <a href="https://github.com/t4t5/rencal" target="_blank" aria-label="GitHub repo">
      <GitHubLogo class="w-6" />
    </a>
  </nav>
</header>
