---
import Logo from "../../icons/rencal-logotype.astro"
---

<header class="px-10 py-8 flex justify-between items-center">
  <Logo class="h-[25px]" />

  <nav class="uppercase flex gap-7 text-foreground">
    <a href="/docs">Docs</a>
    <a href="https://github.com/t4t5/rencal" target="_blank">GitHub</a>
  </nav>
</header>
