<div class="text-center flex flex-col items-center gap-7">
  <h2 class="uppercase text-[40px]">A calendar for hackers</h2>

  <p>Built for Omarchy + Linux</p>

  <div class="flex gap-5">
    <button class="primary">Install</button>
    <button>Docs</button>
  </div>

  <img src="/screenshot.png" alt="renCal screenshot" class="mt-8 max-w-5xl w-full rounded-lg" />
</div>
