<div class="p-5 flex flex-col items-center gap-8 pb-24">
  <h3 class="uppercase text-3xl">Free and open source</h3>

  <p>No subscriptions. No enshittification. Built in the open.</p>

  <div class="flex gap-5">
    <button class="primary">Install</button>

    <a href="https://github.com/t4t5/rencal" target="_blank">
      <button>Contribute</button>
    </a>
  </div>
</div>
