---
import GitHubLogo from "../../icons/github.astro"
---

<div class="px-8 flex flex-col items-center gap-5 md:gap-8 text-center">
  <h3 class="uppercase text-2xl md:text-3xl text-pretty">Free and open-source</h3>

  <p class="text-balance">No subscriptions. No enshittification. Built in the open.</p>

  <div class="flex gap-5">
    <button class="primary">Install</button>

    <a href="https://github.com/t4t5/rencal" target="_blank">
      <button class="flex items-center gap-2">
        <GitHubLogo class="w-5" />
        <span>Contribute</span>
      </button>
    </a>
  </div>
</div>
