---
import GitHubLogo from "../../icons/github.astro"
---

<div class="p-5 flex flex-col items-center gap-8">
  <h3 class="uppercase text-3xl">Free and open source</h3>

  <p>No subscriptions. No enshittification. Built in the open.</p>

  <div class="flex gap-5">
    <button class="primary">Install</button>

    <a href="https://github.com/t4t5/rencal" target="_blank">
      <button class="flex items-center gap-2">
        <GitHubLogo class="w-5" />
        <span>Contribute</span>
      </button>
    </a>
  </div>
</div>
