@import "tailwindcss";
@import "tw-animate-css";

@import "./animations.css";
@import "./legacy.css"; /* TODO: Remove me */

/* Themes */
@import "./themes/classic.css";
@import "./themes/ren.css";
@import "./themes/catpuccin-latte.css";

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --mono: "Geist Mono", ui-monospace, monospace;
  --sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

@theme {
  --font-heading: var(--mono);
  --font-button: var(--mono);
  --font-numerical: var(--mono);

  --font-heading-transform: uppercase;
  --font-button-transform: uppercase;

  --radius-base: 0;
  --radius-circle: 0;
  --control-height: 34px;

  --divider: #323232;
  /* --border-divider: var(--border-input); */
  --border-button: transparent;
}

@theme inline {
  --radius: calc(var(--radius-base) - 6px);
  --radius-xs: calc(var(--radius-base) - 8px);
  --radius-sm: calc(var(--radius-base) - 4px);
  --radius-md: calc(var(--radius-base) - 2px);
  --radius-lg: var(--radius-base);
  --radius-xl: calc(var(--radius-base) + 4px);

  --shadow-button-border: inset 0 0 0 1px var(--border-button);
}

@layer base {
  * {
    @apply border-divider outline-ring/50;
    scrollbar-width: none;
  }
  html,
  body {
    @apply bg-background text-foreground;

    font-family: var(--sans);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overscroll-behavior: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  input[disabled]::-webkit-datetime-edit-year-field,
  input[disabled]::-webkit-datetime-edit-month-field,
  input[disabled]::-webkit-datetime-edit-day-field,
  input[disabled]::-webkit-datetime-edit-hour-field,
  input[disabled]::-webkit-datetime-edit-minute-field,
  input[disabled]::-webkit-datetime-edit-second-field,
  input[disabled]::-webkit-datetime-edit-millisecond-field,
  input[disabled]::-webkit-datetime-edit-meridiem-field,
  input[disabled]::-webkit-datetime-edit-text {
    color: inherit;
    -webkit-text-fill-color: inherit;
  }
}
